
    *{
      margin :0%;
      padding :0%;
      box-sizing: border-box;
      font-family :"Urbanist",sans-serif;

    }
    html{
      font-size: 62.2%;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6
    {
      color:var(--heading-color);
      font-family:"poppins",sans-serif;
      font-weight:900;
    }
    p,
    li,
    a,
    label {
      font-size:1.8rem;
      letter-spacing:0.1rem;
      color : var(--para-color);
      line-height: 1.5r;
      font-weight: 400;

    }
    li{
      list-style:none;
    }
    a{
      text-decoration: none;
    }
    .logo{
      height: 6rem;
      padding :1.5rem;
      will-change: filter 300ms;
     transition: filter 300ms;

    }
    .logo:hover{
      filter :drop-shadow(0,0,2rem #646affaa);

    }
    .logo.react:hover{
      filter:drop-shadow(0,0,2rem #61dafbaa);
    }
    :root{
      --bg-color:#0f172a;
      --supporting-color:#ebf3fe;
      --btn-box-shodow:rgba(100,100,111,0.2)0px 7px 29px 0px;
      --para-color:#504e4d;
      --test:#070101;
      --white-color:#ffffff;
      --heading-color:#000a19;
      --font-color:#424242;
      --btn-box-shadow:rgba(100,100,111,0.2)0px 7px 29px 0px;


        }

    * { box-sizing: border-box; }
    body {
      margin: 0;
      font: 16px/1.5 system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
      background: radial-gradient(80rem 80rem at 10% 0%, #0b1220, #030712);
      color: var(--text);
    }

    /* container */
    .container {
      max-width: 142rem;
      margin: 0 auto;
      padding: 9.6rem 2.4rem;
      
    }
    .grid {
      display: grid;
      gap: 3.2rem; /* spacing between columns */
    }
    
    .grid-two-cols {
      grid-template-columns: repeat(2, 1fr); /* side by side */
    }
    
    .grid-three-cols {
      grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
    }
    
    /* optional styling */
    .column {
      background: var(--supporting-color);
      padding: 2rem;
      border-radius: 1rem;
      box-shadow: var(--btn-box-shadow);
    }
    